@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="~/Content/DangKy.css" />

    <title>Đăng ký - Giao diện người dùng</title>
</head>
<body>
    <!--=============== HÌNH ẢNH BÊN PHẢI ===============-->
    <svg class="register__blob" viewBox="0 0 566 840" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0" mask-type="alpha">
            <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538
        0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393
        591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824
        167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z" />
        </mask>
        <g mask="url(#mask0)">
            <path d="M342.407 73.6315C388.53 56.4007 394.378 17.3643 391.538
        0H566V840H0C14.5385 834.991 100.266 804.436 77.2046 707.263C49.6393
        591.11 115.306 518.927 176.468 488.873C363.385 397.026 156.98 302.824
        167.945 179.32C173.46 117.209 284.755 95.1699 342.407 73.6315Z" />
            <image class="register__img" href="~/Images/OIP.jpg" />
        </g>
    </svg>

    <!--=============== GIAO DIỆN ===============-->
    <div class="register container grid">
        <div class="register__area">
            <h1 class="register__title">Tạo tài khoản mới</h1>
            <form action="@Url.Action("DangNhap", "Home")" method="post" class="register__form">
                <div class="register__content grid">
                    <div class="register__group grid">
                        <div class="register__box">
                            <input type="text" id="names" name="firstName" required placeholder=" " class="register__input" />
                            <label for="names" class="register__label">Tên</label>
                            <i class="ri-id-card-fill register__icon"></i>
                        </div>
                        <div class="register__box">
                            <input type="text" id="surnames" name="lastName" required placeholder=" " class="register__input" />
                            <label for="surnames" class="register__label">Họ</label>
                            <i class="ri-id-card-fill register__icon"></i>
                        </div>
                    </div>

                    <div class="register__box">
                        <input type="email" id="emailCreate" name="email" required placeholder=" " class="register__input" />
                        <label for="emailCreate" class="register__label">Email</label>
                        <i class="ri-mail-fill register__icon"></i>
                    </div>

                    <div class="register__box">
                        <input type="email" id="emailCreate" name="email" required placeholder=" " class="register__input" />
                        <label for="emailCreate" class="register__label">Số điện thoại</label>
                        <i class="ri-mail-fill register__icon"></i>
                    </div>

                    <div class="register__box">
                        <input type="password" id="passwordCreate" name="password" required placeholder=" " class="register__input" />
                        <label for="passwordCreate" class="register__label">Mật khẩu</label>
                        <i class="ri-eye-off-fill register__icon register__password" id="registerPassword"></i>
                    </div>

                    <div class="register__box">
                        <input type="password" id="confirmPassword" name="confirmPassword" required placeholder=" " class="register__input" />
                        <label for="confirmPassword" class="register__label">Xác nhận mật khẩu</label>
                        <i class="ri-eye-off-fill register__icon register__password" id="confirmPasswordToggle"></i>
                    </div>
                </div>
                <button type="submit" class="register__button">Tạo tài khoản</button>
            </form>

            <p class="register__switch">
                Đã có tài khoản?
                <a href="@Url.Action("DangNhap", "Home")" class="register__link">Đăng nhập</a>
            </p>
        </div>
    </div>

    <!--=============== MAIN JS ===============-->
    <script src="~/Scripts/DangKy.js"></script>
</body>
</html>